* {
  font-family: "Source Sans Pro", "Roboto", sans-serif;
}

.page-container {
  background-image: url("./brand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15em;
  padding-bottom: 15em;
}

.form-container {
  padding: 1em 3em;
  background-color: rgb(245, 245, 245);
}

.page-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: #fff;
}

.formheader-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.section-header {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
}

.collapse-button {
  cursor: pointer;
}

.collapse-button:hover {
  color: #ffd000;
}

.subform-container {
  padding: 1em;
}

.form-row {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 3.3%;
}

.form-group {
  margin-bottom: 1em;
}

.text-input {
  width: 31%;
}

label {
  font-weight: bold;
  color: #000;
}

input {
  border: solid 2px #000 !important;
  border-radius: 0 !important;
  margin-bottom: 1em !important;
}

.checkbox-input {
  border: solid 1px #000;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
}

.input-hint {
  color: rgb(98, 98, 98);
}

.form-paragraph {
  color: rgb(98, 98, 98);
  font-size: 1.3em;
}

.form-paragraph-important {
  color: #000;
  font-weight: 700;
}

.file-input {
  border: 0 !important;
  background: transparent !important;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  background-color: black;
  display: inline-block;
}

.file-input:focus + label,
.file-input + label:hover {
  background-color: grey;
}

.sum-input {
  margin-left: 2em;
  margin-right: 1em;
}

textarea {
  border: solid 2px #000 !important;
}

.submit-button {
  padding: 0.2em 3em;
  font-weight: 800;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  cursor: pointer;
}

.submit-button:hover {
  font-weight: 800;
  font-size: 1.7em;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}

.app-number-input {
  width: 100%;
}

.contact-email-section {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.contact-email-input {
  width: 900px !important;
}

.lang-top-bar {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-link {
  font-weight: 600;
  font-size: 1em;
  color: gray;
  cursor: pointer;
}

.lang-link:hover {
  color: black;
}

.lang-link:active {
  color: black;
}

.lang-link:visited {
  color: black;
}

.lang-link:after {
  color: black;
}

.home-container {
  background-image: url("src/assets/images/background-med.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

h1 {
  text-align: center;
}

.header {
  padding-top: 5em;
  font-size: 35px;
  font-weight: 900;
  color: #FFD000;
  text-transform: uppercase;
}

.header-dash {
  border-top: 6px solid #FFD000;
  width: 70px;
  margin-bottom: 60px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

.mission-header {
  color: #fff;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

p {
  text-align: center;
  color: rgb(212, 212, 212);
  font-size: 20px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

.buttons-container {
  padding-top: 30px;
  margin:0px auto;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

.devices-button {
  height: 50px;
  width: 300px;
  font-weight: 500;
  font-size: 1em;
  color: #FFD000;
  text-transform: uppercase;
  border: 1px solid #FFD000;
  background-color: transparent;
}

.devices-button:hover {
  color: #fff;
  background-color: #FFD000;
}

.trademark-button {
  height: 50px;
  width: 300px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
}

.trademark-button:hover {
  color: grey;
  background-color: #fff;
}
